legend {
  text-align: center;
  margin-bottom: 0.2em;
  padding: 0 0.5em;
}

fieldset {
  border: none;
  border-top: 1px solid black;
}

input {
  margin: 0.3em;
}

.cart {
  flex: 0.75;
}

.price-details {
  flex: 0.25;
  margin-left: 1em;
  padding: 1em;
  border: 1px solid #ced4da;
  height: 160px;
  position: sticky;
  top: 5rem;
}

.cart-total {
  flex: 1;
}


.card {
  margin: 0;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
  border-left: 5px solid #f3f4f6;
  border-right: 5px solid #f3f4f6;
  border-bottom: 10px solid #f3f4f6;
}

@media (min-width: 760px) {
  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 960px) {
  .row-cols-lg-3 > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1280px) {
  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.card * {
  cursor: pointer;
}

.login-container{
  min-height: 70vh;
  width: 50%;
  margin: 0 auto;
}

.login-form{
  background: #fff;
  padding: 50px;
}

button[disabled], button[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:not-allowed
}